<h1>heading 1</h1>
<h2>heading 2</h2>
<p>paragragh</p>
<br>
<a href="http://google.com">google</a>
<h1 style="color:red">heading</h1>
<a href="http://google.com" target="_blank">google</a>
<table>
    <tr>
        <th>head 1</th>
        <th>head 2</th>
        <th>head 3</th>
    </tr>
    <tr>
        <td>ani</td>
        <td>anila</td>
        <td>aribandi</td>
    </tr>
    <tr>
        <td>chinni</td>
        <td>chowdary</td>
        <td>mamatha</td>
    </tr>
</table>
<ol>
    <li class="ani">name</li>
    <li class="abc">names</li>
</ol>
<ul>
    <li class="anila">anila</li>
</ul>
HTML FORMS
html forms are required to collect data from the user
form tag is used to create html forms
<!DOCTYPE html>
<html>
    <body>
        <form>
            firstname<input type="text" name="firstname"/><br>
            lastname<input type="text" name="lastname"/><br>
            <input type="submit">
        </form>
        <form>
            <h3>radio buttons</h3>
            <input type="radio" id="endeavour" name="fav car"/>
            <label for="endeavour">ENDEAVOUR</label><br>
            <input type="radio" id="bmw" name="fav car"/>
            <label for="bmw">BMW</label><br>
        </form>
        <form>
            <h3>check boxes</h3>
            <input type="checkbox" id="anilaaribandi" name="my name"/>
            <label for="anilaaribandi">anilaaribandi</label>
            <input type="checkbox" id="anila aribandi" name="my name"/>
            <label for="anila aribandi">anila aribandi</label>
        </form>
    </body>
</html>