<!-- <p>anila</p>
<h1>aribandi</h1>
<h2>this is heading 2</h2>
<h3>this is heading 3</h3>
<img src="https://images.app.goo.gl/NgpAiiD46zHrkdE19" alt="images.google.com" style="width:104px;height:142px;">
package.json - package.son contains the information about npm packages  installed for the project
It has application name, version and scripts
There are two types of dependencies one is dependencies other is devdependencies
dependencie modules are required during run time
devdependencie modules are required during the development
PACKAGE-LOCK.JSON - It contains the detailed information about the packages we installed in our application
COMPONENT - We can find the component in app folder
To create a component run the command ng generate component component-name then it creates the files
the files are component.ts, component.html, component.css, component.spec.ts 
CSS - cascading style sheets is used to style a web page 
spec file - The convention is to have a .spec.ts file for each .ts file 
SRC FOLDER - This is the folder which contains the main code files related to angular project 
App folder - App folder contains the files you have created for app components
<!DOCTYPE html>
<html>
<body style="background-color:white;">
<h1>anila aribandi</h1>
<p>her favourite color</p>
<button>click me</button>
<button>login</button>
<button>logout</button>
<ul>
    <li>ford</li>
    <li>skoda</li>
    <li>benz</li>
</ul>
<ol>
    <li>skoda</li>
    <li>benz</li>
    <li>ford</li>
</ol>
<select>
    <option>benz</option>
    <option>bmw</option>
    <option>audi</option>
</select>
<label>name:</label>
<input type="text">
<table>
    <tr>
        <th>name</th>
        <th>last name</th>
    </tr>
    <tr>
        <td>anila</td>
        <td>aribandi</td>
    </tr>
    <tr>
        <td>mamatha</td>
        <td>aribandi</td>
    </tr>
</table>
</body>
</html>

HTML ATTRIBUTES
href attribute - href attribute specifies the url of the page the link goes to
<!DOCTYPE html>
<html>
<body>
    <a href="https://angular.io">angular</a>
</body>
</html>
SRC attribute - specifies the path to the image to be displayed
<!DOCTYPE html>
<html>
    <body>
        <img src="images/natureimage.jpg">
    </body>
</html>
alt attribute - we can add extra text information for the image by using alt attribute
<img src="images/natureimage.jpg" alt="mountains">
style attribute - In this attribute we can add styles like color,font
<html>
    <body>
        <p style="color:greenyellow;">anila aribandi</p>
    </body>
</html>
Lang attribute - include this attribute inside of the html tag
<!DOCTYPE html>
<html lang="te">
    <body>
        <p>telugu language</p>
    </body>
</html>
Title attribute - this attribute defines some extra information about the element
<app-htmlpractice></app-htmlpractice>
<p>hello from app component</p>
<p>app-htmlpractice is a selector.if we select app-htmlpractice then we are selecting an entire component</p>

HTML HEADINGS
html headings are defines with <h1> <h6>
we can change the size of the heading by using style attribute using css font-size  -->
<app-anotherpractice></app-anotherpractice>
<app-practice></app-practice>
<app-htmlpractice></app-htmlpractice>
<app-new></app-new>